@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slideIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* アニメーション1: 左上 → 右上 → 右下 */
@keyframes drawLineTop {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes drawLineRight {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

/* アニメーション2: 右下 → 左下 → 左上 */
@keyframes drawLineBottom {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes drawLineLeft {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
